.banner {
  background-image: url(https://images.pexels.com/photos/2433249/pexels-photo-2433249.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 300px 0px;
}
